extend layout
block content
  if results_obj.length > 0 && results_pre.length > 0
    p
      | Based on the group's ratings:
    br
    table
      col(width='800px')   
      col(width='500px')
      col(width='500px')
      col(width='1500px')    
      tr
            th Name     
            th Rating      
            th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuisine
            th Address
      br
      - for (var inx = 0; inx < results_pre.length; inx++)
          tr
            td(align='left')
              a(href='/save_event?eventid='+event_id+'&bus_id='+results_pre[inx].BUS_ID+'&group_id='+group_id)=results_pre[inx].NAME
              br
            td(align='right')=results_pre[inx].STARS
              br
            td(align='right')=results_pre[inx].CATEGORIES
              br
            td(align='right')=results_pre[inx].ADDRESS
              br
    br
    br
    p
      | Other Suggestions:
    br
    table
      col(width='800px')   
      col(width='500px')
      col(width='500px')
      col(width='1500px')    
      tr
            th Name     
            th Rating      
            th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuisine
            th Address
      br
      - for (var inx = 0; inx < results_obj.length; inx++)
          tr
            td(align='left')
              a(href='/save_event?eventid='+event_id+'&bus_id='+results_obj[inx].BUS_ID+'&group_id='+group_id)=results_obj[inx].NAME
              br
            td(align='right')=results_obj[inx].STARS
              br
            td(align='right')=results_obj[inx].CATEGORIES
              br
            td(align='right')=results_obj[inx].ADDRESS
              br
  else if results_obj.length > 0 && results_pre.length == 0
     p
       |  Oh no! You group does not have any preferences here. 
       |  Based on your likes, we think you might enjoy these place!
     table
       col(width='800px')   
       col(width='500px')
       col(width='500px')
       col(width='1500px')    
       tr
            th Name     
            th Rating      
            th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuisine
            th Address
       br
       - for (var inx = 0; inx < results_obj.length; inx++)
          tr
            td(align='left')
              a(href='/save_event?eventid='+event_id+'&bus_id='+results_obj[inx].BUS_ID+'&group_id='+group_id)=results_obj[inx].NAME
              br
            td(align='right')=results_obj[inx].STARS
              br
            td(align='right')=results_obj[inx].CATEGORIES
              br
            td(align='right')=results_obj[inx].ADDRESS
              br
  else
     p
       | Oops! No restaurants found that matches your search.
       | Try another combination